@model whatsappWeb.Models.Ranking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row detailsBack">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd class = "col-sm-10">
             @if (Model.score == 1)
                {
                    <img class="stars" src="~/css/Images/oneStar.png"/>
                }
                else if(Model.score == 2)
                {
                    <img class="stars" src="~/css/Images/twoStar.png"/>
                }
                 else if(Model.score == 3)
                {
                    <img class="stars" src="~/css/Images/threeStar.png"/>
                }
                 else if(Model.score == 4)
                {
                    <img class="stars" src="~/css/Images/fourStar.png"/>
                }
                 else
                {
                    <img class="stars" src="~/css/Images/fiveStar.png"/>
                }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
    </dl>
</div>
<div>
    <button class="btn-grad" onclick="location.href='@Url.Action("Edit")?id='+@Html.DisplayFor(model => model.Id)">Edit</button>
    <button class="btn-grad" onclick="location.href='@Url.Action("Search")'">Back</button>
</div>
