@model IEnumerable<whatsappWeb.Models.Ranking>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Avg"] = 0;
    ViewBag.avg = 0;
    int count = 0;
    foreach (var item in Model)
    {
        ViewBag.avg += item.score;
        count++;
    }
    ViewBag.avg /= count;
}
<div class="searchDiv">
    <form asp-action="Search" class="inputDiv">
        <input name="query" placeholder="Search for rank" id="search"/>
        <input type="submit" value="Search"/>
    </form>
</div>

<div class='rightDiv'>
    <h1>Average score:</h1><p> @if (@ViewBag.avg == 1)
                {
                    <img class="stars" src="~/css/Images/oneStar.png"/>
                }
                else if(@ViewBag.avg == 2)
                {
                    <img class="stars" src="~/css/Images/twoStar.png"/>
                }
                 else if(@ViewBag.avg == 3)
                {
                    <img class="stars" src="~/css/Images/threeStar.png"/>
                }
                 else if(@ViewBag.avg == 4)
                {
                    <img class="stars" src="~/css/Images/fourStar.png"/>
                }
                 else
                {
                    <img class="stars" src="~/css/Images/fiveStar.png"/>
                }</p>


<p><button class="btn-create" onclick="location.href='@Url.Action("Create")'">Create New Rating</button></p>
</div>

<div id="tbody" class="rankingsBack overflow-y-auto">
@foreach (var item in Model) {

        <div class="oneRating" onclick="location.href='@Url.Action("Details")?id='+@item.Id">
                <h5>@Html.DisplayFor(modelItem => item.author)</h5>
                
                @if (item.score == 1)
                {
                    <img class="stars" src="~/css/Images/oneStar.png"/>
                }
                else if(item.score == 2)
                {
                    <img class="stars" src="~/css/Images/twoStar.png"/>
                }
                 else if(item.score == 3)
                {
                    <img class="stars" src="~/css/Images/threeStar.png"/>
                }
                 else if(item.score == 4)
                {
                    <img class="stars" src="~/css/Images/fourStar.png"/>
                }
                 else
                {
                    <img class="stars" src="~/css/Images/fiveStar.png"/>
                }
                <br>
                @Html.DisplayFor(modelItem => item.feedback) <br>

                
                <div class="dateAndTime">
                    @Html.DisplayFor(modelItem => item.date)
                    @Html.DisplayFor(modelItem => item.time)
                </div>
                
                <button class="btn-grad" onclick="location.href='@Url.Action("Edit")?id='+@item.Id; event.stopPropagation(); ">Edit</button>
                <button class="btn-grad" onclick="location.href='@Url.Action("Delete")?id='+@item.Id; event.stopPropagation(); ">Delete</button>
        </div>

}   
</div>

@section Scripts{
<script src="~/js/search.js"></script>
}